<div class="formborder">
    <div class="body">
        <div style="margin-left: 100px;" class="login-container-wrapper" fxLayout="row" fxLayout.xs="column"
            fxLayout.sm="column" fxLayout.md="column">
            <form [formGroup]="registerUser" (ngSubmit)="onSubmit()">

                <h2><b>REGISTER HERE</b></h2>

                <mat-form-field appearance="fill">
                    <mat-label>Name</mat-label>
                    <input matInput type="text" formControlName="firstname" maxlength="25">
                </mat-form-field>&nbsp;

                <mat-form-field appearance="fill">
                    <mat-label>Email</mat-label>
                    <input matInput type="email" formControlName="email" required>
                </mat-form-field>&nbsp;<br>

                <mat-form-field appearance="fill">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" formControlName="password"
                        pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required>
                </mat-form-field><br>

                <mat-form-field appearance="fill" id="code" >
                    <mat-label>Area Code</mat-label>
                    <select matNativeControl formControlName="mobilenumber" required>
                        <option value="+91">+91</option>
                        <option value="+263">+263</option>
                        <option value="+123">+123</option>
                        <option value="+876">+876</option>
                    </select>
                </mat-form-field>&nbsp;

                <mat-form-field appearance="fill">
                    <mat-label>Phone Number</mat-label>
                    <input matInput type="text" maxlength="10" formControlName="mobile" required>
                </mat-form-field><br>
                
                <fieldset >
                    <legend>address</legend>
                <div fromArrayName="addresslist">
                    <div *ngFor="let address of getControls(); let i=index" [formGroupName]="i">
                        <mat-form-field appearance="fill" >
                            <mat-label>Address line {{i+1}}</mat-label>
                            <textarea matInput placeholder="address line" rows="2">&nbsp;
                             </textarea>
                        </mat-form-field>&nbsp;
                        
                        <button mat-raised-button color="accent" (click)="addAddress(i+1)">
                            <mat-icon>plus_one</mat-icon>
                        </button>&nbsp;&nbsp;
                        <span *ngIf ="i>=1"  >
                        <button mat-raised-button color="accent" (click)="onDelete(i)"><i class="material-icons">delete</i></button>
                        </span>
                    </div>
                </div>
                
            </fieldset><br>
                <mat-form-field appearance="fill">
                    <mat-label>country</mat-label>
                    <select matNativeControl formControlName="country" required>
                        <option value="india">India</option>
                        <option value="USA">USA</option>
                        <option value="UK">UK</option>
                    </select>
                </mat-form-field>&nbsp;

                <mat-form-field appearance="fill">
                    <mat-label>State</mat-label>
                    <input matInput formControlName="state" required>
                </mat-form-field>&nbsp;

                <mat-form-field appearance="fill">
                    <mat-label>District</mat-label>
                    <input matInput formControlName="district" required>
                </mat-form-field><br>

                <button type="submit" mat-raised-button color="accent"> Register</button>&nbsp;
                <button mat-raised-button color="accent" (click)="loginForm()"> Login Here</button>&nbsp;

            </form>
        </div>
    </div>
</div>