<div>
    <button mat-raised-button color="primary" (click)="themeOne()">orange</button>&nbsp;
    <button mat-raised-button color="primary" (click)="themeTwo()"> yellow</button>&nbsp;
    <button mat-raised-button color="primary" (click)="themeThree()"> grey</button>&nbsp;
    <button mat-raised-button color="primary" (click)="themeFour()"> green</button>&nbsp;
</div>

<div class="body" [class.alternative1]="value===1" [class.alternative2]="value===2" [class.alternative3]="value===3">
    <div style="margin-left: 100px;" class="login-container-wrapper" fxLayout="row" fxLayout.xs="column"
        fxLayout.sm="column" fxLayout.md="column">
        <form [formGroup]="registerUser" (ngSubmit)="onSubmit()">

            <h2><b>REGISTER HERE</b></h2>

            <mat-form-field>
                <mat-label>Name</mat-label>
                <input matInput type="text" formControlName="firstname">
                <mat-error *ngIf="registerUser.controls['firstname'].hasError('required')">enter name</mat-error>
            </mat-form-field>&nbsp;

            <mat-form-field appearance="fill">
                <mat-label>Enter your email</mat-label>
                <input matInput placeholder="and@gmail.com" formControlName="emailid" required>
                <mat-error *ngIf="registerUser.controls['emailid'].hasError('required')">enter email id</mat-error>
                <mat-error *ngIf="registerUser.controls['emailid'].hasError('email')">Invalid email id</mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Password</mat-label>
                <input matInput type="password" formControlName="password">
                <mat-error *ngIf="registerUser.controls['password'].hasError('required')">enter password</mat-error>
                <mat-error *ngIf="registerUser.controls['password'].hasError('pattern')">your password is week
                </mat-error>
            </mat-form-field><br>

            <mat-form-field appearance="fill" id="code">
                <mat-label>Area Code</mat-label>
                <mat-select formControlName="mobilenumber" required>
                    <mat-option value="+91">+91</mat-option>
                    <mat-option value="+263">+263</mat-option>
                    <mat-option value="+123">+123</mat-option>
                    <mat-option value="+876">+876</mat-option>
                    <mat-error *ngIf="registerUser.controls['mobilenumber'].hasError('required')">select area code
                    </mat-error>
                </mat-select>
            </mat-form-field>&nbsp;

            <mat-form-field appearance="fill">
                <mat-label>Phone Number</mat-label>
                <input matInput type="text" maxlength="10" formControlName="mobile" required>
                <mat-error *ngIf="registerUser.controls['mobile'].hasError('required')">enter mobile number</mat-error>
                <mat-error *ngIf="registerUser.controls['mobile'].hasError('pattern')">numbers only allowed</mat-error>
            </mat-form-field><br>

            <!-- <mat-slide-toggle [formControl]="toggleValue" (change)="onChange()"> Slide me!</mat-slide-toggle> -->

            <div formArrayName="addresslist" *ngIf="registerUser.get('addresslist')">

                <div *ngFor="let address of addressGroups.controls; let i=index" [formGroupName]="i">
                    
                    <mat-form-field appearance="fill">
                        <mat-label>Address line 1</mat-label>
                        <textarea matInput placeholder="address line" rows="2" formControlName="addresslineone">&nbsp;
                        </textarea>
                    </mat-form-field>&nbsp;

                    <mat-form-field appearance="fill">
                        <mat-label>Address line 2</mat-label>
                        <textarea matInput placeholder="address line" rows="2" formControlName="addresslinetwo">&nbsp;
                        </textarea>
                    </mat-form-field>&nbsp;

                    <button mat-raised-button color="primary" (click)="addAddress(i)"><i class="fa fa-plus"
                            aria-hidden="true"></i></button>&nbsp;
                    <span *ngIf="i>=1">
                        <button mat-raised-button color="warn" (click)="onDelete(i)"><i class="fa fa-minus"
                                aria-hidden="true"></i></button>
                    </span><br>
                    <mat-form-field appearance="fill">
                        <mat-label>country</mat-label>
                        <mat-select formControlName="country" required>
                            <mat-option value="INDIA">INDIA</mat-option>
                            <mat-option value="USA">USA</mat-option>
                            <mat-option value="UK">UK</mat-option>
                        </mat-select>
                    </mat-form-field>&nbsp;

                    <mat-form-field appearance="fill">
                        <mat-label>State</mat-label>
                        <input matInput formControlName="state" required>
                    </mat-form-field>&nbsp;

                    <mat-form-field appearance="fill">
                        <mat-label>District</mat-label>
                        <input matInput formControlName="district" required>
                    </mat-form-field><br>

                </div>
           
            </div>

            <button type="submit" mat-raised-button color="accent" (click)="onSubmit()"> Register</button>&nbsp;

            <button mat-raised-button color="primary" (click)=" loginForm()"> Login Here</button>&nbsp;

        </form>
    </div>
</div>

{{value}}