<div class="outerlayer">
    <div class="body">
        <form [formGroup]="registerUser" (ngSubmit)="onSubmit()">

            <h3><b>REGISTER HERE</b></h3>

            <mat-form-field appearance="fill">
                <mat-label>Name</mat-label>
                <input matInput type="text" formControlName="firstname" maxlength="25">
            </mat-form-field><br>

            <mat-form-field appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput type="email" formControlName="email" required>
            </mat-form-field><br>

            <mat-form-field appearance="fill">
                <mat-label>Password</mat-label>
                <input matInput type="password" formControlName="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                    required>
            </mat-form-field><br>

            <mat-form-field appearance="fill">
                <select matNativeControl formControlName="mobilenumber" required>
                    <option value="+91">+91</option>
                    <option value="+263">+263</option>
                    <option value="+123">+123</option>
                    <option value="+876">+876</option>
                </select>
            </mat-form-field>&nbsp;

            <mat-form-field appearance="fill">
                <mat-label>Phone NUmber</mat-label>
                <input matInput type="number" maxlength="10" formControlName="mobile" required>
            </mat-form-field><br>

            <div fromArrayName="addresslist">
                <div *ngFor="let address of getControls(); let i=index" [formGroupName]="i">
                    <mat-form-field appearance="fill">
                        <mat-label>Address</mat-label>
                        <input matInput type="text" formControlName="address" required>
                    </mat-form-field>
                    <button mat-button color="primary" (click)="addAddress(i+1)"> AddAddress</button>
                </div>
            </div>
            <br>

            <mat-form-field appearance="fill">
                <mat-label>country</mat-label>
                <select matNativeControl formControlName="country" required>
                    <option value="india">India</option>
                    <option value="USA">USA</option>
                    <option value="UK">UK</option>
                </select>
            </mat-form-field>&nbsp;

            <mat-form-field appearance="fill">
                <mat-label>State</mat-label>
                <input matInput formControlName="state" required>
            </mat-form-field>&nbsp;

            <mat-form-field appearance="fill">
                <mat-label>District</mat-label>
                <input matInput formControlName="district" required>
            </mat-form-field><br>
            <button type="submit" mat-button color="primary"> Register</button>

        </form>

    </div>
</div>