@import '../node_modules/@angular/material/theming';
@include mat-core();
$andrews-theme-primary: mat-palette($mat-green);
$andrews-theme-accent:  mat-palette($mat-purple, A200, A100, A400);
$andrews-theme-warn:    mat-palette($mat-red);

$andrews-theme: mat-light-theme($andrews-theme-accent , $andrews-theme-primary, $andrews-theme-warn);

@include angular-material-theme($andrews-theme); 


.alternative1{
$andrews-theme-primary: mat-palette($mat-orange);
$andrews-theme-accent:  mat-palette($mat-red, A200, A100, A400);
$andrews-theme-warn:    mat-palette($mat-pink);

$andrews-theme: mat-light-theme($andrews-theme-accent , $andrews-theme-primary, $andrews-theme-warn);

@include angular-material-theme($andrews-theme); 
}

.alternative2{
    $andrews-theme-primary: mat-palette($mat-yellow);
    $andrews-theme-accent:  mat-palette($mat-red, A200, A100, A400);
    $andrews-theme-warn:    mat-palette($mat-pink);
    
    $andrews-theme: mat-light-theme($andrews-theme-accent , $andrews-theme-primary, $andrews-theme-warn);
    
    @include angular-material-theme($andrews-theme); 
}
.alternative3{
    $andrews-theme-primary: mat-palette($mat-blue-grey);
    $andrews-theme-accent:  mat-palette($mat-red, A200, A100, A400);
    $andrews-theme-warn:    mat-palette($mat-pink);
    
    $andrews-theme: mat-light-theme($andrews-theme-accent , $andrews-theme-primary, $andrews-theme-warn);
    
    @include angular-material-theme($andrews-theme); 
    }